/* ESTILADO DE LA TARJETA DE LOS PRODUCTOS */

// src/styles/_variables.scss

$color-background: #f8fafc;
$color-surface: #ffffff;
$color-primary: #7c9ccf;
$color-primary-hover: #6486bd;
$color-secondary: #dce6f5;
$color-text: #263238;
$color-text-light: #667085;
$color-border: #e2e8f0;
$color-success: #8fc7a3;
$color-danger: #df8f8f;

$border-radius: 12px;
$box-shadow: 0 4px 12px rgb(38 50 56 / 12%);


.container {
    width: 280px;
    padding: 16px;
    color: $color-text;
    background-color: $color-background;
    border-radius: 12px;
    box-shadow: $box-shadow;
    display: flex;
    justify-content: center; /* Alineación horizontal */
    align-items: center; /* Alineación vertical */
    flex-direction: column;
    gap: 10px;
    .productImage{
        &:hover{
            background-color: $color-primary-hover;
        }
        height: 150px;
        width: 150px;
    }
    .productButton{
        padding: 6px 14px;
        font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
        border-radius: 6px;
        border: none;

        color: $color-border;
        background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
        background-origin: border-box;
        box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;

        &:focus{
            box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
            outline: 0;
        }
    }
    .productTitle{
        margin: 0;
        color: $color-text;
    }

}

